################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
versions = versions
parts = part ez ctypes et v ubuntulibs pil
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://www.python.org/ftp/python/2.3.7/Python-2.3.7.tar.bz2
md5sum = fa73476c5214c57d0751fae527f991e1
patches =
    ${buildout:directory}/patches/python-without-tk.diff
# this patch consists in disabling include and libraries path autosearch to avoid conflicts with already setted flags by minitage
    ${buildout:directory}/patches/minitage-flags.diff
    ${buildout:directory}/patches/readline.diff
# see http://bugs.python.org/issue1777412
# handle date < 1900 # hard to port to py23 :(
#       ${buildout:directory}/patches/strftime-pre-1900.patch
configure-options =                   --with-fpectl  --with-bz2 --with-ncurses --with-readline --with-zlib --enable-shared --enable-unicode=ucs4
#configure-options-replace-cygwin = --without-fpectl --with-bz2 --with-ncurses --with-readline --with-zlib --enable-shared --enable-unicode=ucs4
cflags-freebsd =  -DTHREAD_STACK_SIZE=0x100000
# need to do some stuff on py24, see http://bugs.python.org/issue1358
pre-configure-hook = ${buildout:hooks-directory}/setenv.py:getpythonenv
pre-make-hook = ${buildout:hooks-directory}/setenv.py:patchincludes
#configure-options-darwin=--disable-toolbox-glue
patch-options = -Np1
darwin-patches=
#       ${buildout:directory}/patches/patch-configure
#       ${buildout:directory}/patches/patch-Include-pyport.h
##http://bugs.python.org/issue4472
#       ${buildout:directory}/patches/issue4472-v2.patch
#       ${buildout:directory}/patches/qt.patch
##http://bugs.python.org/issue6848
#       ${buildout:directory}/patches/pycurses.patch
#       ${buildout:directory}/patches/asyncore.patch
#       ${buildout:directory}/patches/configure-in-sl.patch

force-osx-target=true
environment=
    LDFLAGS=-L. -lncurses -lreadline
#cygwin-patches=
## upgrade sys recursion limit and remove libm and libdl for cygwin
#    ${buildout:directory}/patches/cygwin_stack.patch
## add minitage libraries and includes directory to their respective search path
#    ${buildout:directory}/patches/cygwin_modules.patch

#path-cygwin=${buildout:directory}/__minitage__part__tmp/Python-2.6.4
#libraries-cygwin=gdi32 comdlg32 user32 kernel32 advapi32 shell32 dl

[ez]
prefix=${part:location}
executable = ${buildout:directory}/parts/part/bin/python
recipe = minitage.recipe.du
url =  http://pypi.python.org/packages/source/d/distribute/distribute-0.6.25.tar.gz#md5=a690874b9964d958a3200485eb827b1d
site-packages=${buildout:directory}/parts/part/lib/python2.3/site-packages
includes =
    ${part:location}/include
library-dirs =
    ${part:location}/lib
rpath =
    ${ez:library-dirs}
 
[et]
prefix=${part:location}
executable = ${buildout:directory}/parts/part/bin/python
recipe = minitage.recipe.du
url =  http://effbot.org/media/downloads/elementtree-1.2.6-20050316.tar.gz
site-packages=${buildout:directory}/parts/part/lib/python2.3/site-packages
includes =
    ${part:location}/include
library-dirs =
    ${part:location}/lib
rpath =
    ${ez:library-dirs} 

[ctypes]
prefix=${part:location}
executable = ${buildout:directory}/parts/part/bin/python
recipe = minitage.recipe.du
url =  http://downloads.sourceforge.net/project/ctypes/ctypes/1.0.2/ctypes-1.0.2.tar.gz
site-packages=${buildout:directory}/parts/part/lib/python2.3/site-packages
includes =
    ${part:location}/include
library-dirs =
    ${part:location}/lib
rpath =
    ${ez:library-dirs} 
[v]
prefix=${part:location}
recipe =plone.recipe.command
update-command=${v:command}
command=${part:location}/bin/python -c 'from setuptools.command.easy_install import main; main()' -U virtualenv
    ${part:location}/bin/python -c 'from setuptools.command.easy_install import main; main()' -U distribute==0.6.25
 
[ubuntulibs]
recipe = plone.recipe.command
update-command = ${ubuntulibs:command}
command =
    ln -sfv /usr/lib/x86_64-linux-gnu/libz.so        ${buildout:directory}/.libs/
    ln -sfv /usr/lib/x86_64-linux-gnu/libjpeg.so     ${buildout:directory}/.libs/
    ln -sfv /usr/lib/x86_64-linux-gnu/libfreetype.so ${buildout:directory}/.libs/

[pil]
recipe=minitage.recipe.du
prefix=${part:location}
pre_setup_hook=${buildout:directory}/hooks/pil.py:pil
url=http://dist.plone.org/thirdparty/PIL-1.1.7.tar.gz
site-packages=${buildout:directory}/parts/part/lib/python2.3/site-packages
includes = ${part:location}/include
library-dirs = ${part:location}/lib
rpath = ${ez:library-dirs} 

[mirrors]
minitage=distfiles.minitage.org/public/externals

[libjpeg]
location=${buildout:directory}/../../dependencies/libjpeg/parts/part
[libpng]
location=${buildout:directory}/../../dependencies/libpng-1/parts/part
[libgif]
location=${buildout:directory}/../../dependencies/libgif-4.1/parts/part
[freetype]
location=${buildout:directory}/../../dependencies/freetype-2/parts/part
[libtiff]
location=${buildout:directory}/../../dependencies/libtiff-3/parts/part
[zlib]
location=${buildout:directory}/../../dependencies/zlib-1.2/parts/part
